@{
    ViewBag.Title = "Index";

    ViewBag.HideFooter = true;
}
<style>

    body {
        font-family: 'Comic Sans MS','Segoe UI', Tahoma, Geneva, Verdana;
        background-color: #2a2929;
        color: white;
    }

    table {
        font-size: 15px;
    }

    th {
        color: black;
    }

    td {
        color: #8e8b8b;
    }

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 70%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

    #Items {
        display: none;
    }
</style>
<br />
<br />
<br />



@{
    if (TempData["cart"] != null)
    {

        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2">

            </div>
            <div style="color:white; background-color:#fefefe" class="col-lg-8 col-md-8 col-sm-8">
                <table class="table table-striped table-dark  " id="dataTables-example">

                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Remove</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in TempData["cart"] as List<GamingWebsite.Models.Cart>)
                        {
                            <tr>
                                <td>@item.ProductId</td>
                                <td>@item.productName</td>
                                <td>@item.Price</td>
                                <td>@item.Quantity</td>
                                <td>@item.TotalPrice</td>
                                <td>
                                    <a class="btn btn-danger btn-sm" href="@Url.Action("remove",new { id = item.ProductId})">&#10008;</a>
                                </td>
                            </tr>

                        }
                    </tbody>

                    <tfoot>
                        <tr>
                            <td colspan="4"></td>
                            <td>@TempData["Total"]</td>
                        </tr>

                    </tfoot>

                </table>
                <button id="order" style="font-size:26px;" class=" btn btn-block btn-primary">Order Now</button>

            </div>
        </div>
      

      

    }
    else
    {
        <h2 style="color:red;  font:bold;" class="text-center">
            Cart is empty &#128533;

            @Html.ActionLink("Go Back", "Index", "Ecommerce")
        </h2>
    }
}


<div style="color:black; width:1000px;" id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span style="font-size:30px; color:red;" class="close">&times;</span>

        <div class="container">
            <div class="row">
                <div class="col-sm-12">


                    @using (Html.BeginForm("check", "Ecommerce", null, FormMethod.Post))
                    {

                        @Html.AntiForgeryToken()


                        <div class="form-horizontal">
                            <h2 class="text-danger">Please Fill out your details &#128522</h2>
                            <br />
                            <div class="form-group">
                                <label class="control-label col-md-2">
                                    <span style="font-size:15px; color:red;">*</span>

                                    Full Name
                                </label>
                                <div>

                                    <input type="text" class="form-control" name="fullName" id="fullName" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">

                                    <span style="font-size:15px; color:red;">*</span>
                                    Address
                                </label>
                                <div>

                                    <input type="text" class="form-control" name="Address" id="Address" required />


                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">

                                    <span style="font-size:15px; color:red;">*</span>
                                    Mobile No.
                                </label>
                                <div>

                                    <input type="text" class="form-control" name="Phone1" id="Phone1" required />


                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">


                                    Alternative Mobile No.
                                </label>
                                <div>

                                    <input type="text" class="form-control" name="Phone2" id="Phone2" />


                                </div>
                            </div>

                            @if (TempData["cart"] != null)
                            {
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button style=" background-color: green;  background-image: linear-gradient(crimson,black);" id="SaveOrder" type="submit" class="btn btn-success">
                                        <i class="fas fa-shopping-cart"></i>

                                        Order Now
                                    </button>
                                </div>
                            </div>
                            }
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>


</div>
<script src="~/Scripts/jquery-3.4.1.js"></script>

<script type="text/javascript">
    var modal = document.getElementById("myModal");
 


    // Get the button that opens the modal
    var btn = document.getElementById("order");


    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];



    // When the user clicks on the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }
  
    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";


    }

        



    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }


</script>