@model IEnumerable<GamingZone.Models.Category>

@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-md-12">
        <!-- Form Elements -->
        <div class="panel panel-default">
            <div class="panel-heading">
                Categories
            </div>
            <div style="color:white; background-color:#222323" class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <!--Div End-->
                        @using (Html.BeginForm())
                        {

                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                <div class="form-group">
                                    @Html.Label("Search:", new { @class = "control-label col-md-2" })

                                    <div class="col-md-8">


                                        @Html.TextBox("SearchCategory", null, new { @class = " form-control ", placeholder = "Search Categories...", style = " max-width:100%;" })

                                    </div>
                                    <div class="col-md-2">
                                        <button type="submit" class="btn btn-primary" style="background-color: purple; color: white; background-image: linear-gradient(purple,black);">
                                            <i class="fa fa-search"></i>
                                            Search

                                        </button>


                                    </div>

                                </div>

                            </div>


                        }
                        <hr />

                        <p>
                            @Html.ActionLink(" Create New Category", "Create", "", new { @class = "btn btn-success far fa-plus-square", style = "background-color: #0d973e; background-image: linear-gradient(#0d973e,black);" })
                        </p>
                        <div class="alert alert-danger" style="color:white; background-color:red; background-image:linear-gradient(red,black);" role="alert">
                            Notice
                            <div class="alert alert-warning">
                                Before Deleting any category make sure you don't have subcategories added to the category!
                            </div>

                            <br />
                            @{
                                if (TempData["Delete"] != null)
                                {
                                    <h3 style="color:red;"> @TempData["Delete"].ToString()</h3>
                                }
                            }
                        </div>
                        <br />

                        <table class="table table-bordered " id="dataTables-example">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.CategoryName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CategoryName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.ActionLink(" Edit", "Edit", new { id = item.CategoryID }, new { @class = "btn btn-primary fas fa-edit" })
                                        @Html.ActionLink(" Details", "Details", new { id = item.CategoryID }, new { @class = "btn btn-warning far fa-list-alt" })
                                        @Html.ActionLink(" Delete", "Delete", new { id = item.CategoryID }, new { @class = "btn btn-danger far fa-trash-alt" })
                                    </td>
                                </tr>
                            }

                        </table>
                        <!--Code End-->
                    </div>
                </div>
            </div>
            <!-- End Form Elements -->
        </div>
    </div>

</div>