@model GamingZone.Models.Player

@{
    ViewBag.Title = "Details";
}


<div class="row">
    <div class="col-md-12">
        <!-- Form Elements -->
        <div class="panel panel-default">
            <div class="panel-heading">
                Player Detail
            </div>
            <div style="color:white; background-color:#222323" class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <!--Div End-->


                        <div>

                            <dl class="dl-horizontal">
                                <dt style="text-align:center;">
                                    @Html.DisplayNameFor(model => model.Name)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Age)
                                </dd>
                                <br />
                                <dt style="text-align:center;">
                                    @Html.DisplayNameFor(model => model.Team.Name)
                                </dt>
                        </div>
                        <p>
                            @Html.ActionLink(" Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary fas fa-edit", style = "background-color: blue;  background-image: linear-gradient(blue,black);" })
                            @Html.ActionLink(" Back to Event List", "Index", "", new { @class = "btn btn-warning far fa-list-alt", style = "background-color: orange;  background-image: linear-gradient(orange,black);" })
                        </p>
                        <!--Code End-->

                    </div>
                </div>
            </div>
            <!-- End Form Elements -->
        </div>
    </div>

</div>
