@*@model IEnumerable<GamingZone.ViewModels.TeamPlayerVM>*@
@model IEnumerable<GamingZone.ViewModels.TeamPlayerVM>

@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-md-12">
        <!-- Form Elements -->
        <div class="panel panel-default">
            <div class="panel-heading">
                Events
            </div>
            <div style="color:white; background-color:#222323" class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            @Html.ActionLink(" Create New Player", "Create", "", new { @class = "btn btn-success far fa-plus-square", style = "background-color: #0d973e; background-image: linear-gradient(#0d973e,black);" })
                        </p>
                        <br />

                        <table class="table table-bordered " id="dataTables-example">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Age)
                                </th>
                                <th>
                                    Profile Picture
                                </th>
                                <th>
                                    Team
                                </th>

                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Age)
                                    </td>
                                    <td>
                                        <img src="~/images/@item.ImagePath" width="100" height="50" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TeamName)
                                    </td>


                                    <td>
                                        @Html.ActionLink(" Edit", "Edit", "Players", new { id = item.Id }, new { @class = "btn btn-primary fas fa-edit" })
                                        @Html.ActionLink(" Details", "Details", "Players", new { id = item.Id }, new { @class = "btn btn-warning far fa-list-alt" })
                                        @Html.ActionLink(" Delete", "Delete","Players", new { id = item.Id }, new { @class = "btn btn-danger far fa-trash-alt" })
                                    </td>
                                </tr>
                            }

                        </table>
                        <!--Code End-->
                    </div>
                </div>
            </div>
            <!-- End Form Elements -->
        </div>
    </div>

</div>